# NASA API Key
NASA_API_KEY=

# N2YO API Key
N2YO_API_KEY=

# Telegram Bot Token
BOT_TOKEN=

# Default location (Kyiv, Ukraine - can be changed for user)
DEFAULT_LAT=
DEFAULT_LON=
DEFAULT_ALT=

# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

# Geoapify API Key (for maps)
GEOAPIFY_KEY=
